<form [formGroup]="bookForm" (ngSubmit)="submitForm()">
  <div class="form-group">
    <label for="inputIsbn">ISBN</label>
    <input id="inputIsbn" type="text" class="form-control" formControlName="isbn">
    <div class="feedback-error" *ngIf="isInvalid('isbn')">Die ISBN ist ungültig</div>
    <div class="feedback-error" *ngIf="hasError('isbn', 'required')">Die ISBN muss angegeben werden</div>
    <div class="feedback-error" *ngIf="hasError('isbn', 'minlength')">Die ISBN ist zu kurz</div>
    <div class="feedback-error" *ngIf="hasError('isbn', 'maxlength')">Die ISBN ist zu lang</div>
  </div>
  <div class="form-group">
    <label for="inputTitel">Titel</label>
    <input id="inputTitel" type="text" class="form-control" formControlName="title">
  </div>
  <div class="form-group">
    <label for="inputDesc">Description</label>
    <textarea id="inputDesc" class="form-control" formControlName="description"></textarea>
  </div>
  <div class="form-group">
    <label for="inputRating">Rating</label>
    <input id="inputRating" type="number" class="form-control" formControlName="rating">
  </div>
  <div class="form-group">
    <label for="inputPrice">Price</label>
    <input id="inputPrice" type="number" class="form-control" formControlName="price">
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="bookForm.invalid">Submit</button>
</form>

<pre>{{ bookForm.value | json }}</pre>
